<!DOCTYPE html>
<html lang=="en">
  <head>
    <title>handle Primes</title>
  </head>

  <body>
     <h3>Primes Server</h3>
  </body>
</html>
<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>Signin Template for Bootstrap </title>
 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
           crossorigin="anonymous">

     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
           crossorigin="anonymous">

     <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" 
          crossorigin="anonymous">
     </script> 
     <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" 
          integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" 
          crossorigin="anonymous">
     </script>
     <!-- Latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
           integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
           crossorigin="anonymous">
     </script>
     <script src="www/templates/index.js"></script>
 </head>
 
 <body>
   <div> 
     <h2> choose operation</h2>
     <button onclick="btnGetPrimes()" type="submit" value="GET PRIMES">GET PRIMES</button>
     <button onclick="btnFinishPrimes()" id="id_finish" type="submit" value="FINISH">FINISH</button>
     <br>
     <h3>Print the prime number</h3>
     <p id="id_inp1">current prime number from flask</p>
   </div>
 </body>
 
 </html>


